@use "../../foundations/var" as *;

.c-play__end__txt{
}

.c-play__timer{}

.c-play__move__select{
    font-size: 1.3rem;
    margin-top: 1rem;
}

.c-play__move__home{
    font-size: 1.3rem;
    margin-top: 1rem;
}