@use "../../foundations/var" as *;

.c-select__ttl{
    text-align: center;
    align-items: center;
    font-size: 3rem;
}

.c-select__stage{
    display: flex;
    margin-top: 8rem;
    margin-left: 2rem;
}

.c-select__stage__icon{

        &:not(:nth-child(1)){
            margin-left: 20rem;
        }
}

.c-select__stage__ttl{
    font-size: 1.5rem;
}

.c-select__stage__img{
    margin-top: 2rem;
}

.c-select__back{
    margin-top: 8rem;
    margin-left: 2rem;
    font-size: 2rem;
}