@use "../../foundations/var" as *;

.g-canvas {
    background-color: #b8860b;
    padding: 5rem;
    margin-left: 10rem;
    margin-right: 20rem;
    width: 91.5rem;

    &.is-option {
        width: 61rem;
    }

    &.is-play{
        display: flex;
    }
}

.g-gamecanvas {
    border: 2px white;
}